:root {
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  --color-primary-dk: #2f5542;
  --color-primary-lt: #406e57;
  --color-secondary-dk: #648070;
  --color-secondary-lt: #aebea3;
  --box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-family: var(--font-family);
  background: var(--color-primary-dk);
  color: #fff;
}

body {
  display: grid;
  column-gap: 1rem;
  grid-template-areas:
    "header pizzaMenu"
    "toppingSelector pizzaMenu";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

header {
  margin: 2.475rem 1rem;
}

h1 {
  margin: 0 -0.125rem 0 0;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

header h1::before {
  content: "\01F355";
  display: inline-block;
  margin-right: 0.125rem;
  font-size: 4rem;
  vertical-align: middle;
}

#topping-selector {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  border-top: 2px solid var(--color-primary-lt);
}

label {
  margin: 1rem 0;
  padding: 0.5rem 0;
}

#pizza-menu {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-area: pizzaMenu;
  padding: 0 1rem;
  background: var(--color-primary-lt);
}

h2 {
  margin: 4.5rem 1rem;
  font-size: 1rem;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

ul {
  padding: 1rem 0 0;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  list-style: none;
  border-top: 2px solid var(--color-secondary-dk);
}

#pizza-list li {
  padding: 0 1rem;
}

#topping-list li {
  padding: 0.5rem 1.25rem;
  border: 1px solid transparent;
  font-weight: 200;
}

button,
select {
  padding: 0.5rem 1rem;
  font-family: var(--font-family);
  font-size: 1rem;
  color: var(--color-primary-dk);
  border-radius: 0.25rem;
}

select {
  border: 0;
  box-shadow: var(--box-shadow);
}

button {
  width: 100%;
  background: #fff;
  border: 1px solid transparent;
  text-align: left;
  transition: all 0.125s ease-in-out;
}

button:not([disabled]):hover,
button:not([disabled]):active,
button:not([disabled]):focus {
  transform: scale(1.03125);
  box-shadow: var(--box-shadow);
}

button:disabled {
  opacity: 0.5;
}
